.navbar-container {
    height: 35em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-link {
    font-size: 25px;
    color: white;
    margin: 0 40px;
    display: flex;
}

.pb-6,
.py-6 {
    padding-bottom: 4rem !important;
}

.navbar-custom .nav-link.active,
.navbar-custom .nav-link:active,
.navbar-custom .nav-link:focus,
.navbar-custom .nav-link:hover {
    color: rgb(176, 176, 176);
}

.navbar-custom .nav-link:active {
    color: white;
}

.text-center {
    font-size: 4rem;
    padding-bottom: 0;
    font-family: 'open-sans';
    width: 650px;
}
.text-center {
            font-size: 4rem;
            padding-bottom: 0.5em;
        }
    
        .navbar-expand .navbar-nav .nav-link {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }
    
        .navbar-custom {
            background: transparent;
        }